html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #ff6e58;
  color: rgb(0, 0, 0);
}
h1{
  text-align: center;
  font-size: 7.5rem;
}
.btn {
  text-align: center;
  font-size: 4rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
}